#root {
  margin: 0;
  text-align: center;
  width: 100vw;
}

.robots-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  min-height: calc(100vh - 200px);
}